<!-- Style sheet linl -->
<link rel="stylesheet" href="/css/home_page.css">
<!-- <Div : Home page Container  -->
<div id="container">
    <!-- if user is logged in -->
    <% if(locals.user) { %>
        <!-- <Div: Home icons -->
        <div class="home-icons">
            <!-- <Div: Add Student -->
            <div class="hover icon-action"> <a href="/students/display-students"><div id="addStudent" class="icon"></div></a><h4>Add Student</h4></div>
            <!-- <Div: Interview -->
            <div class="hover icon-action"><a href="/interviews/display-interviews"><div id="addInterview" class="icon"></div></a><h4>Add Interview</h4></div>
            <!-- <Div: Download Report -->
            <div class="hover icon-action"><a href="/report/download-report"><div id="downloadReport" class="icon"></div></a><h4>Download Report</h4></div>
            <!-- <Div: External Jobs -->
            <div class="hover icon-action"><a href="/external-jobs/get-job-list"><div id="externalJobs" class="icon"></div></a><h4> External jobs</h4></div>
        </div>
        <!-- <Div: Home icons -->
    <!-- if user is logged in -->
     
    <!-- User is not logged in -->
    <%} else {%>
        <!-- <Div: Home icons -->
        <div class="home-icons">
            <!-- <Div: Sign in -->
            <div class="hover icon-action"><a  href="/sign-in"><div id="SignIn" class="icon" ></div></a><h4>Sign In</h4></div>
            <!-- <Div: Sign up-->
            <div class="hover icon-action"><a href="/sign-up"><div id="SignUp" class="icon"></div></a><h4>Sign Up</h4></div>
        </div>
        <!-- <Div: Home icons -->
    <% } %>
    <!-- User is not logged in -->
</div>
<!-- <Div : Home page Container  -->
