<!-- // Form to send the data to createa user in db -->
<!-- Style sheet link -->
<link rel="stylesheet" href="/css/signup.css">
<!-- Div: Sign up -->
<div id="signup">
    <h4 class="text"> Sign Up Form</h4>
    <div id="signup-form">
        <!-- Sign up Form -->
        <form action="/create" method="POST">
            <!-- Name Input -->
            <div class="form-outline mb-4">
                <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Your User Name"
                    required
                >
            </div>
            <!-- Name Input -->
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input
                    type="email"
                    name="email"
                    placeholder="Your Email"
                    class="form-control"
                    required
                >
            </div>
            <!-- Email input -->
            <!-- Age input -->
            <div class="form-outline mb-4">
                <input
                    type="number"
                    name="age"
                    placeholder="Enter Your age"
                    class="form-control"
                    required
                >
            </div>
            <!-- Age input -->
            <!-- Gender input -->
            <div class="form-outline mb-4 form-control" id="gender">
                <p>Select your gender:</p>
                <div id="gender-selection">
                    <span>
                        <input
                            type="radio"
                            name="gender"
                            value="Male"
                            required
                        >
                        Male
                    </span>
                    <span>
                        <input type="radio" name="gender" value="Female">
                        Female
                    </span>
                    <span>
                        <input type="radio" name="gender" value="Not_revealed">
                        Prefer not to reveal
                    </span>
                </div>
            </div>
            <!-- Gender input -->
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input
                    type="number"
                    name="phone_number"
                    placeholder="Your phone number"
                    class="form-control"
                    required
                >
            </div>
            <!-- Email input -->
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                    class="form-control"
                    required
                >
            </div>
            <!-- Password input -->
            <!-- Confirm Password input -->
            <div class="form-outline mb-4">
                <input
                    type="password"
                    name="confirm_password"
                    class="form-control"
                    placeholder="Confirm Password"
                    required
                >
            </div>
            <!-- Confirm Password input -->
            <!-- Login -->
            <div class="text-center">
                <p>
                    Already Registered?
                    <a href="/sign-in">Login</a>
                </p>
            </div>
            <!-- Login -->
            <!-- Sign Up -->
            <input type="submit" class="btn btn-primary btn-block mb-4" value="Sign Up">
            <!-- Sign Up -->
        </form>
    </div>
</div>
