/* Styling for update section */
/*  card border */
.card {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid purple;
}

/* employee details card-body properties */
#details-body {
  margin: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Employee avatar dimensions*/
.avatar {
  width: 200px;
  height: 200px;
}

/* pending reviews section properties */
#pending-reviews {
  margin-left: auto;
  margin-right: auto;
}

/* pending list display */
#pending-list {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border: 3px solid #d353cd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 5px;
}

/* margin */
.margin {
  margin: 10px;
}

/*button color */
.btn-primary {
  background-color: #d353cd;
  width: 50%;
}
