/* Add interview section styling */

/*text alignment and background color of the section*/
#add-interview {
    text-align: center;
    background-color: azure;
}

/*fixing the size of the add new interview div and center align it*/
#add-new-interview {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/*Interview list styling*/

/*Display interview cards*/
#interview-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Interview card alignamentand stylings */
.interview-card {
    width: 60%;
    padding: 1%;
    text-align: center;
    margin: 1%;
    border: 2px solid blue;
}

/*display student list table with vertical scroll */
.student-list {
    height: 300px;
    overflow-y: scroll;
    margin-left: -10%;
    margin-top: -1%;
    z-index: 590;
}

/* center align the allocate button */
#allocate-post {
    text-align: center;
    width: 100%;
}

/*set the border of student's list table */
.table-style {
    border: 2px solid blue;
}