/*background color of main*/
main {
    background-color: azure;
    margin: 1%;
}

/*h3 heading styling */
h3 {
    text-align: center;
}

/*Styling fo rthe studentresult card*/
.student-result-card {
    font-weight: 600;

    border: 2px solid #0aa1f2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*card body value styling */
#card-body-divs {
    display: flex;
    justify-content: space-around;
}

/*card header, footer text alignment*/
.card-header,
.card-footer {
    text-align: center;
}

/*update button background color*/
#update {
    background-color: #0aa1f2;
}